body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7b1fa2, #512da8);
  border-radius: 8px;
}
